@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* CSS Class Name: custom-drop-shadow */
.custom-drop-shadow {
  color: #00d0ff;
  filter: drop-shadow(0 0 10px rgb(0, 183, 255));
}
.custom-drop-software-develop-section {
  color: #00d0ff;
  filter: drop-shadow(0 0 5px rgb(0, 183, 255));
}
.contact-containter-drop-shadow {
  color: #00d0ff;
  filter: drop-shadow(0 0 1px rgb(10, 227, 238));
  border: none;
}

:root {
  --cards: 3;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
  /* --cardMargin:40rem; */
  /* --cards:3;
	--cardHeight: 40vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw; */
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  transition: all 0.3s ease-in-out;
}
#cards:hover {
  color: #00d0ff;
  filter: drop-shadow(0 0 5px rgb(0, 183, 255));
  cursor: pointer;
}

.card {
  position: sticky;
  top: 8rem;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  transition: all 0.3s ease-in-out;
}

/* *<===our technology card parts===>* */
.shape-box {
  clip-path: polygon(
    0px 0px,
    89% 0px,
    100% 100%,
    100% 100%,
    0px 100%,
    0px 100%
  );
  border-bottom: none;
}

/* Custom dots styles */
.custom-dots {
  bottom: 20px;
}

.custom-dots li {
  display: inline-block;
  margin: 0 5px;
}

.custom-dots li button {
  width: 20rem;
  height: 8px;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  opacity: 0.6;
}

.custom-dots li.slick-active button {
  background-color: #1e6dff;
  /* opacity: 1; */
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .isActive{
  background:transparent;
  font-size:20px;
} */
.isActive::after {
  content: "";
  width: 2rem;
  height: 5px;
  border: 0;
  outline: none;
  border-radius: 50px;
  background: #00d0ff;
  position: absolute;
  transform: translate(-130%, 550%);
}

@media screen and (max-width: 768px) {
  .isActive {
    background: #152f63;
    /* width:100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 5px 20px;
    filter: drop-shadow(0 0 2px #fff);
  }
  .isActive::after {
    content: "";
    display: none;
  }
}
