@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  text-transform: capitalize;
  font-family: 'Ubuntu', sans-serif;
}
html{
  scroll-behavior:smooth;
  overflow-x:hidden;
}
/* CSS Class Name: custom-drop-shadow */
.custom-drop-shadow {
  color: #00d0ff;
  filter: drop-shadow(0 0 10px rgb(0, 183, 255));
}
.custom-drop-software-develop-section {
  color: #00d0ff;
  filter: drop-shadow(0 0 5px rgb(0, 183, 255));
}


:root {
	--cards: 3;
	--cardHeight: 87vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
  /* --cardMargin:40rem; */
  /* --cards:3;
	--cardHeight: 40vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw; */
}


#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
  transition:all .3s ease-in-out;
}
#cards:hover{
  color: #00d0ff;
  filter: drop-shadow(0 0 5px rgb(0, 183, 255));
  cursor: pointer;
}

.card {
	position: sticky;
	top:8rem;
	padding-top: calc(var(--index) * var(--cardTopPadding));
  transition:all .3s ease-in-out;
}
